﻿@model CustomersModel
@{
    ViewData["Title"] = "Customers";
}

<h2>Good Quote for Your Day</h2>
<div>
    <p>Sign up below to receive an thought-provoking uplifting quote, delivered each day to your private email box.*</p>

    <form asp-controller="Quotes" asp-action="CustomerModel" method="post">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input type="text" asp-for="FirstName" class="form-control" placeholder="First Name" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input type="text" asp-for="LastName" class="form-control" placeholder="Last Name" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="email"></label>
            <input type="text" asp-for="email" class="form-control" placeholder="email" />
            <span asp-validation-for="email"></span>
        </div>

        <button type="submit" class="but-primary">Submit</button>

    </form>
    <p>*This email address will not be sold or given away to any other source but will be used only for delivering your daily quote.</p>
</div>

