﻿
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Good Quotes</h1>

<p>Inspirational phrases or words can produce a divinelike influence that stimlates the mind to a high degree of feeling or activity. Ann Marquis</p>
