﻿@model GoodQuotes.Models.CustomersModel

@{
    ViewData["Title"] = "Customer Sign Up";
}



<h4>Sign up for your free uplifting Quote of the Day</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirm_email" class="control-label"></label>
                <input asp-for="Confirm_email" class="form-control" />
                <span asp-validation-for="Confirm_email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <h6>*Your email address will only be used to send you a daily thought-provoking quote. It will not be sold or given away to any third party.</h6>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
