﻿@model TestPageModel 
@*TestPageModel*@
@{
    ViewData["Title"] = "TestPage";
}

<h1>TestPage</h1>

@*@foreach (CustomersModel item in Model)
{
    <div>@item.FirstName, @item.LastName, @item.email</div>

}

@Model.quote.Author, @Model.quote.Quote*@



